<a href="https://colab.research.google.com/github/bollaprashanth09/prashanth_pranavi_python/blob/main/lab33_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50, 60)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50, 60)

In [2]:
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

First element: 10
Last element: 60

In [3]:
print("Slice [1:4]:", my_tuple[1:4])
print("Slice from beginning to index 3:", my_tuple[:3])
print("Slice from index 2 to end:", my_tuple[2:])

Slice [1:4]: (20, 30, 40)
Slice from beginning to index 3: (10, 20, 30)
Slice from index 2 to end: (30, 40, 50, 60)

In [5]:
extra_tuple = (70, 80, 90)
concatenated = my_tuple + extra_tuple
print("Concatenated Tuple:", concatenated)

Concatenated Tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90)

In [6]:
for item in my_tuple:
    print("Item:", item)

Item: 10
Item: 20
Item: 30
Item: 40
Item: 50
Item: 60

In [7]:
print("Is 30 in tuple?", 30 in my_tuple)
print("Is 100 not in tuple?", 100 not in my_tuple)

Is 30 in tuple? True
Is 100 not in tuple? True

In [8]:
nested_tuple = (my_tuple, (70, 80, 90))
print("Nested Tuple:", nested_tuple)
print("Accessing nested element (my_tuple[2]):", nested_tuple[0][2])
print("Accessing nested element (90):", nested_tuple[1][2])

Nested Tuple: ((10, 20, 30, 40, 50, 60), (70, 80, 90))
Accessing nested element (my_tuple[2]): 30
Accessing nested element (90): 90

In [9]:
print("Length of tuple:", len(my_tuple))
print("Maximum value:", max(my_tuple))
print("Minimum value:", min(my_tuple))
print("Sum of elements:", sum(my_tuple))

Length of tuple: 6
Maximum value: 60
Minimum value: 10
Sum of elements: 210

In [10]:
temp_list = list(my_tuple)
temp_list[2] = 99  # update 3rd element
updated_tuple = tuple(temp_list)
print("Updated Tuple:", updated_tuple)

Updated Tuple: (10, 20, 99, 40, 50, 60)

In [11]:
del my_tuple
# print(my_tuple)  # Uncommenting this will cause an error because tuple is deleted